<?xml version="1.0"?>
<plugin>
	<name>Devdog.Rucksack.Integrations.Playmaker</name>
	<description>A Playmaker plugin for Rucksack.</description>
	<version>0.0.1</version>
	<separateBuild>true</separateBuild>
	<dependencies>
		<dependency name="Devdog.General" minVersion="2.0.0" />
		<dependency name="Devdog.Rucksack" minVersion="1.0.0" />
		<dependency name="Playmaker" minVersion="1.8.5" />
	</dependencies>
</plugin>